<div class="form-group">
  <label for="winkel">Kies je winkel</label>
  <select (change)="clickSelect($event)" class="form-control" id="winkel" required>
    <option disabled hidden [ngValue]="null">-- selecteer --</option>
    <option title="{{winkel.adres | titlecase }}, {{winkel.post}} {{winkel.gemeente | titlecase}}"
      *ngFor="let winkel of winkels">
      {{winkel.naam}}</option>
  </select>
</div>
