<div>
  <div *ngIf="alerts">
    <p *ngFor="let alert of alerts">
      <ngb-alert [dismissible]="false" [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>
  </div>
  <app-winkel-overview (changeWinkel)="setSelectedWinkel($event)"></app-winkel-overview>
  <app-groente-overview (changeAantal)="setSelectedAantal($event)" (changeGroente)="setSelectedGroente($event)">
  </app-groente-overview>
  <button #submitButton [attr.disabled]="this.isInputValid ? null : true" class=" btn btn-primary" type="submit"
    (click)="onSubmit()">Bestel</button>
  <div *ngIf="bestelling?.bestelLijnen.length">
    <app-bestelling-overview [bestelling]="bestelling"></app-bestelling-overview>
  </div>
</div>
