<div class="form-group">
  <label for="groente">Kies een groente</label>
  <select class="form-control" id="groente" (change)="clickSelect($event)" required>
    <option disabled hidden [ngValue]="null">-- selecteer --</option>
    <option *ngFor="let groente of groenten" value="{{groente.naam}}">
      {{groente.naam | titlecase }}
      ({{groente.prijs}}/{{groente.eenheid}})</option>
  </select>
</div>

<div *ngIf="selectedGroente">
  <div class="form-group">
    <label for="groenteAantal" class="col-form-label"> Aantal per {{selectedGroente.eenheid}}</label>
    <input #groenteAantal (keyup)="changeInput($event)" class="form-control" type="number" id="aantal" required>
  </div>
</div>
