<div class="btn-group btn-group-toggle float-right my-3" data-toggle="buttons">
  <button class="btn btn-secondary" (click)="changeUnit(priceUnitEnum.EUR)" checked
    [ngClass]="{'checked': priceUnit === priceUnitEnum.EUR}">EUR</button>
  <button class="btn btn-secondary" (click)="changeUnit(priceUnitEnum.USD)"
    [ngClass]="{'checked': priceUnit === priceUnitEnum.USD}">USD</button>
</div>


<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Winkel</th>
      <th scope="col">Groente</th>
      <th scope="col">Aantal</th>
      <th scope="col">Prijs</th>
    </tr>
  </thead>
  <tfoot>
    <th colspan="4" scope="row">Totaal te betalen</th>
    <td> {{ ( bestelling.totaal | getPrice: priceUnit) | currency:priceUnit }} </td>
  </tfoot>
  <tbody>
    <tr *ngFor="let bestelLijn of bestelling.bestelLijnen; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ bestelLijn.winkel.naam }}</td>
      <td>{{ bestelLijn.groente.naam | titlecase }}</td>
      <td>{{ bestelLijn.aantal | number }} {{ bestelLijn.groente.eenheid}}</td>
      <td>{{ (bestelLijn.groente.prijs | getPrice: priceUnit:bestelLijn.aantal) | currency:priceUnit}}</td>
    </tr>
  </tbody>
</table>
