<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ title }}</a><button class="navbar-toggler navbar-toggler-right" type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="collapsingNavbar" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="!isNavbarCollapsed" class=" navbar-collapse" id="collapsingNavbar">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/bootstrap" routerLinkActive="active">Bootstrap</a>
      <!-- <a class="nav-item nav-link" routerLink="/jobs" routerLinkActive="active">Jobs</a>
      <a class="nav-item nav-link" routerLink="/jobs/7" routerLinkActive="active">Job 7</a> -->
    </div>
  </div>

</nav>
